<div
  class="sm:w-72 max-sm:w-full flex flex-col h-screen bg-gray-800 text-white transition-all duration-300 shadow-md"
  [ngClass]="{ 'sm:w-72': !sidebarCollapsed, 'sm:w-20': sidebarCollapsed }"
>
  <div class="p-4 flex-shrink h-5/6">
    <!-- Workspace 列表 -->
    <h2
      class="text-sm font-semibold mb-4"
      [ngClass]="{ hidden: sidebarCollapsed }"
    >
      Channels
    </h2>
    <ul class="space-y-2 text-xs">
      <aregrid-workspace-item
        class="flex rounded-xl items-center p-2 space-x-2 hover:shadow-lg hover:transform hover:-rotate-1 transition duration-300 hover:bg-gray-600 hover:rounded-xl"
        *ngFor="let workspace of workspaces"
        [ngClass]="{
          '-rotate-1 bg-gray-600 rounded-xl': workspace.id === workspaceId
        }"
        [avatar]="workspace.avatar"
        [name]="workspace.name"
        [subtitle]="workspace.subtitle"
        [sidebarCollapsed]="sidebarCollapsed"
        (click)="switchWorkspace(workspace.id)"
      ></aregrid-workspace-item>

      <div class="flex justify-center">
        <button
          class="text-white rounded-lg px-2 py-2 bg-purple-600 hover:bg-purple-700 transition duration-300"
          (click)="addWorkspace()"
          [ngClass]="{ hidden: sidebarCollapsed }"
        >
          Add Channel +
        </button>
        <button
          class="text-white rounded-lg px-4 py-2 bg-purple-600 hover:bg-purple-700 transition duration-300"
          (click)="addWorkspace()"
          [ngClass]="{ hidden: !sidebarCollapsed }"
        >
          +
        </button>
      </div>
    </ul>
    <h2
      class="text-sm font-semibold mb-4"
      [ngClass]="{ hidden: sidebarCollapsed }"
    >
      Notes
    </h2>
    <p class="text-gray-300" [ngClass]="{ hidden: sidebarCollapsed }">
      Default Note
    </p>
  </div>

  <div
    class="p-4 flex items-center flex-shrink-0 justify-between"
    (click)="toggleSidebar()"
  >
    <div class="flex items-center">
      <img
        src="{{ user.avatar }}"
        alt="User Avatar"
        class="w-10 h-10 rounded-full"
      />
      <span class="ml-2 text-sm" [ngClass]="{ hidden: sidebarCollapsed }">{{
        user.name
      }}</span>
    </div>
  </div>
</div>
