<div
  class="w-72 flex flex-col h-screen bg-gray-800 text-gray-300 transition-all duration-300"
  [ngClass]="{
    'w-72': !sidebarCollapsed,
    'w-20': sidebarCollapsed
  }"
>
  <div
    class="p-4 flex-shrink h-5/6"
    [ngClass]="{
      hidden: sidebarCollapsed
    }"
  >
    <h2 class="text-lg font-semibold mb-4">Workspaces</h2>
    <ul class="space-y-2">
      <aregrid-workspace-item
        class="flex items-center p-2 space-x-4 hover:shadow-lg hover:transform hover:-rotate-2 transition duration-300 hover:bg-gray-600 hover:rounded-xl"
        *ngFor="let workspace of workspaces"
        [avatar]="workspace.avatar"
        [name]="workspace.name"
        [subtitle]="workspace.subtitle"
      ></aregrid-workspace-item>

      <div class="flex justify-center">
        <button
          class="text-gray-400 text-sm rounded-lg px-3 py-2 bg-gray-600 hover:bg-gray-700 transition duration-300"
          (click)="addWorkspace()"
        >
          Add Workspace +
        </button>
      </div>
    </ul>
  </div>
  <div
    class="p-4 border-t border-gray-600 flex items-center flex-shrink-0 justify-between"
    [ngClass]="{
      hidden: sidebarCollapsed
    }"
  >
    <div class="flex items-center">
      <img
        src="{{ user.avatar }}"
        alt="User Avatar"
        class="w-8 h-8 rounded-full"
      />
      <span class="ml-2 font-semibold">{{ user.name }}</span>
    </div>
    <div class="flex items-center">
      <button class="text-gray-400 text-sm" (click)="toggleSidebar()">
        Collapse
      </button>
    </div>
  </div>
  <div
    class="p-4 flex-shrink h-5/6"
    [ngClass]="{
      hidden: !sidebarCollapsed
    }"
  >
    <img
      src="{{ user.avatar }}"
      alt="User Avatar"
      class="w-8 h-8 rounded-full"
    />
  </div>
  <div
    [ngClass]="{
      hidden: !sidebarCollapsed
    }"
    class="p-4 border-t border-gray-600 flex items-center flex-shrink-0 justify-between"
  >
    <button class="text-gray-400 text-sm" (click)="toggleSidebar()">
      Expand
    </button>
  </div>
</div>
