.highlight-underline {
  position: relative;
  display: inline-block;
  // color: white;
}

.highlight-underline-text {
  font-weight: 300;
}

.highlight-underline-line {
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 100%;
  height: 10px;
  // color: white;
}

.highlight-underline-line path {
  animation: highlight-underline-animation 0.5s ease-out forwards;
}

@keyframes highlight-underline-animation {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 100;
  }
}
