<div class="mb-4 flex items-start animate-slide-in">
  <img
    [src]="avatar"
    [alt]="userName + ' Avatar'"
    class="w-12 h-auto rounded-full"
  />
  <div class="ml-4 w-1/2">
    <h2 class="font-bold text-gray-800 mb-1">{{ userName }}</h2>
    <div class="message-content bg-gray-100 rounded animate-fade-in">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<style>
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.3s ease;
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease;
  }
</style>
