<div class="flex flex-col h-screen bg-gray-100">
  <!-- Header -->
  <aregrid-header />
  <!-- Main content (chat area and input field) -->
  <div class="flex flex-grow overflow-hidden">
    <!-- Message Input Field -->
    <!-- Chat Area -->
    <main class="flex-grow p-6 overflow-y-scroll border-r">
      <ng-container *ngFor="let message of chatMessages">
        <aregrid-chat-message [avatar]="message.avatar" [userName]="message.userName">
          <!-- Chat message content -->
          <p class="bg-gray-100 rounded p-2 inline-block">{{ message.content }}</p>
        </aregrid-chat-message>
      </ng-container>

      <aregrid-chat-message
        avatar="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/00/0077f8c11bd1f32199710a0259c9873ce8e7b63b_full.jpg"
        user="Jane Smith"
      >
        <aregrid-message-blocksuite></aregrid-message-blocksuite>
      </aregrid-chat-message>
    </main>

    <footer class="h-16 border-t border-gray-200 flex items-center px-4">
      <input
        class="flex-grow h-10 px-4 py-2 border rounded"
        type="text"
        placeholder="Type your message here..."
      />
      <button class="bg-blue-500 text-white px-4 py-2 rounded ml-2">
        Send
      </button>
    </footer>
  </div>
</div>
<a
  href="https://github.com/aregrid/aregridjs"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-4 right-4 z-10"
>
  <button
    class="bg-purple-600 text-white px-4 py-2 rounded text-sm flex items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 0C4.477 0 0 4.477 0 10c0 4.418 2.865 8.17 6.84 9.49.5.092.683-.217.683-.483 0-.237-.01-.866-.014-1.7-2.782.603-3.36-1.338-3.36-1.338-.454-1.155-1.111-1.464-1.111-1.464-.908-.622.07-.61.07-.61 1.004.07 1.53 1.03 1.53 1.03.892 1.527 2.34 1.087 2.91.831.092-.645.35-1.087.636-1.337-2.22-.25-4.556-1.11-4.556-4.936 0-1.09.39-1.98 1.03-2.68-.102-.25-.448-1.27.098-2.647 0 0 .84-.268 2.75 1.026a9.628 9.628 0 0 1 2.5-.336 9.63 9.63 0 0 1 2.5.336c1.91-1.294 2.747-1.026 2.747-1.026.546 1.377.202 2.397.1 2.647.64.7 1.03 1.59 1.03 2.68 0 3.836-2.342 4.686-4.567 4.936.36.308.683.916.683 1.847 0 1.334-.012 2.41-.012 2.74 0 .267.18.577.688.482A10.048 10.048 0 0 0 20 10c0-5.523-4.477-10-10-10z"
        clip-rule="evenodd"
      />
    </svg>
    Star Repo
  </button>
</a>
