<div class="relative">
  <div
    [style.background]="generateRandomGradient(name)"
    class="w-8 h-8 rounded-full"
  ></div>

  <div
    [ngClass]="{ hidden: sidebarCollapsed }"
    class="absolute bg-gray-700 text-white rounded-lg p-1 bottom-full left-0 transform scale-0 transition-all duration-300 hover:scale-100"
  >
    <h3 class="font-semibold text-base">{{ name }}</h3>
    <p class="text-gray-200 text-xs">{{ subtitle }}</p>
  </div>
</div>
<div [ngClass]="{ hidden: sidebarCollapsed }">
  <h3 class="font-semibold text-base">{{ name }}</h3>
  <p class="text-gray-400 text-xs">{{ subtitle }}</p>
</div>
